.header__container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header__contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;
  fill: currentColor;

  padding-top: 0px;
  padding-bottom: 0px;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header__link {
  transition: color var(--timing-function);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
