.hero {
  @extend %section;

  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  padding: 118px 0;

  background-color: #c4c4c4;

  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // mobile screen

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/imghero@1x_sm.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/imghero@2x_sm.jpg);
  }

  // tablet screen

  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/imghero@1x_md.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/imghero@2x_md.jpg);
    }
  }

  // desktop screen

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    padding: 200px 0;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/imghero@1x_lg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/imghero@2x_lg.jpg);
    }
  }

  &__title {
    color: var(--main-withe-color);
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 696px;

      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }

  &-button {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;

    transition: background-color var(--timing-function);

    @media screen and (max-width: 1199px) {
      padding: 10px 24px;
    }
  }

  &-button:hover,
  &-button:focus {
    background-color: #188ce8;
  }
}
