.logo {
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &--ident-right {
    margin-right: 93px;
  }

  &:focus {
    color: var(--accent-color);
  }

  &--accent {
    color: var(--accent-color);
  }
}
