.logo {
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &--ident-right {
    margin-right: 93px;
  }

  &:focus {
    color: var(--accent-color);
  }

  &--accent {
    color: var(--accent-color);
  }
}
