.section-title {
  color: var(--secondly-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }

  &--offset {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}
